{# Renders a bullet list of link summaries. Expects `links` as list[LinkSummary]. #}

{% for l in links %}
{% if l.typ == 'pr' %}
* PR #{{ l.ident }}: {{ l.title or '' }}
  <{{ l.url }}>
{% elif l.typ == 'issue' %}
* Issue #{{ l.ident }}: {{ l.title or '' }}
  <{{ l.url }}>
{% elif l.typ == 'commit' %}
* Commit {{ l.short_sha or (l.ident[:7]) }}: {{ l.message or '' }}
  <{{ l.url }}>
{% endif %}
{% endfor %}
