
### Hints

{{ hints }}
{% if links_section %}

### Links found inside comments:

{{ links_section }}
{% endif %}
{% if performance_section %}

### Performance Issue

{{ performance_section }}
{% endif %}

### {{ problem_section_title }}

{{ problem_statement }}
{% if classification %}

### Classification

{{ classification }}

### Difficulty

{{ difficulty }}
{% endif %}
